@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0a14;
}
html {
  scroll-behavior: smooth;
}
